
nav {
    background-color: lightblue;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 20px;
    border-radius: 3px;

}



#first {
    display: flex;
    justify-content: center;


}


